<%- include('./partials/header'); %>
<div class="content-wrapper">
    <div class="content">
        <h1>Saved</h1>
        <div class="saved-page">
            <%if (noSaves) { %>
            <div class="no-saves">
                <h2>Looks like you need to save some palettes!</h2>
                <a href="/palettes"><h1>Recent Palettes</h1></a>
            </div>
            <% } %>
            <div class="palettes-index">
                <% for(var i = 0; i < palettesList.length; i++){ %>
                    <div class="palette-wrapper" id="<%= palettesList[i].paletteID %>">
                        <div class="palette">
                            <% for(var j = 0; j < 6; j++) { %>
                            <div class="block">
                                <a href="/palettes?search=<%= palettesList[i].blocks[j].name %>"><img src="images/blocks/<%= palettesList[i].blocks[j].img %>" title="<%= palettesList[i].blocks[j].name %>" ></a>
                            </div>
                            <% } %>
                        </div>
                        <% if (palettesList[i]["saved"] == "True") { %>
                            <span class="remove-wrapper">
                                <input class="removeBtn" value="Remove" type="button" onclick="removeClick(<%= JSON.stringify(palettesList[i]) %>)">
                            </span>
                        <% } else { %>
                            <span class="save-wrapper">
                                <input class="saveBtn" value="Save" type="button" onclick="saveClick(<%= JSON.stringify(palettesList[i]) %>)">
                            </span>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <%- include('./partials/show'); %>
            <%- include('./partials/hide'); %>
        </div>
    </div>
</div>
<%- include('./partials/footer'); %>
